**/**/**/**/*.pyc
**/__pycache__/**

.vscode/**
.vscode/**/**
.dir-local*
*.log
*.har
tmp*
test.*
tmp/**
tmp/**/**
.python-version

*.key
sonar/*.key

*.log.*

*.dat
.old/
.old/**
.old/**/**
.old/**/**/**
.old/**/**/**/**
