**/**/**/**/*.pyc
**/__pycache__/**

scratch.py

.vscode/**
.vscode/**/**
.dir-local*
*.log
*.log.*
*.har
tmp*
test.*
tmp/**
tmp/**/**
.python-version

*.key
sonar/*.key


*.dat
.old/
.old/**
.old/**/**
.old/**/**/**
.old/**/**/**/**
