# Copyright 2021 Brenden Smith
#
# Use of this source code is governed by an MIT-style
# license that can be found in the LICENSE file or at
# https://opensource.org/licenses/MIT.
wheel
setuptools
black
aiosnmp
typing_extensions[all]
easysnmp
gql[all]
requests[all]
pyOpenSSL
aioopenssl
aiohttp
